/** @format */

.container {
	
	background: radial-gradient(
		rgba(173, 225, 234, 0.9),
		rgba(154, 152, 118, 0.9),
		rgba(53, 76, 79, 0.9)
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5vw;
	height: 90vh;
	width: 90vw;
	border-radius: 2vh;
	border: ridge 1vh rgba(255, 251, 200, 0.9);
}
.video {
	background: radial-gradient(
		rgba(173, 225, 234, 0.9),
		rgba(154, 152, 118, 0.9),
		rgba(53, 76, 79, 0.9)
	);
	margin: 10vh;
	height: 90vh;
	width: 90vw;
	border-radius: 2vh;
	border: ridge 1vh rgba(255, 251, 200, 0.9);
	width: 80%;
	height: 80%;
}
