/** @format */
@keyframes bg {
	0% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 30%,
			rgba(1, 128, 105, 0.93) 70%
		);
		border-radius: 1vh 0 0 0;
	}

	20% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 40%,
			rgba(1, 128, 105, 0.93) 80%
		);
		border-radius: 0 1vh 0 0;
	}

	40% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 50%,
			rgba(1, 128, 105, 0.93) 90%
		);
		border-radius: 0 0 1vh 0;
	}

	60% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 40%,
			rgba(1, 128, 105, 0.93) 80%
		);
		border-radius: 0 0 1vh 0;
	}

	80% {
		background: radial-gradient(
			rgba(8, 131, 119, 0.924),
			rgba(103, 202, 221, 0.919) 30%,
			rgba(1, 128, 105, 0.93) 70%
		);
		border-radius: 4vh;
	}
}
@keyframes radius {
	30% {
		border-radius: 1vh 8vh;
	}

	70% {
		border-radius: 1vh 4vh;
	}

	90% {
		border-radius: 0;
	}
}

.container {
	width: 99.5vw;
	font-size: 2vh;
	white-space: nowrap;
	text-wrap: nowrap;
	display: flex;
	justify-content: space-around;
	/* animation: infinite 7s bg; */
	border: ridge 1vh;
	border-image: linear-gradient(
		10deg,
		rgba(99, 122, 234, 0.9),
		rgba(111, 202, 231, 0.9)
	);
	border-image-slice: 22;
	background: linear-gradient(
		rgba(126, 139, 138, 0.924),
		rgba(227, 250, 255, 0.919) 40%,
		rgba(167, 175, 173, 0.93) 80%
	);
	padding: 2vh 1vh;
	cursor: not-allowed;
	box-shadow: 1px 1px 1vh 1vh rgb(249, 242, 242) inset;
}
.detailsBox {
	width: 98%;
	border-radius: 14vh 7vh;
	border: double .2vh;
	border-image: radial-gradient(
		rgba(245, 255, 255, 0.9),
		rgba(222, 222, 222, 0.9)
	);
 	border-image-slice: 22;
	background: linear-gradient(
		45deg,
		rgba(224, 255, 253, 0.729),
		rgba(234, 250, 255, 0.846),
		rgba(202, 251, 247, 0.465)
	);
	box-shadow: 1px 1px 2vh 2vh rgb(249, 242, 242) ;
}
.image {
	animation: radius 7s;
	border: double 0.5vh rgba(243, 255, 254, 0.924);
	border-radius: 22vh;
	animation: radius 7s;
	border: double 1vh rgba(255, 255, 255, 0.924);
	border-radius: 52vh;
	width: 30vh;
	height: 30vh;
}
.image:hover,
.imageBox:hover {
	animation: radius 7s infinite;
}
.whiteBoard {
	background-color: rgba(235, 255, 255, 0.924);
	border: groove 0.4vh;
	width: 99%;
	margin: 1vh;
	font-size: 2vh;
	text-align: center;
}
.text {
	border-radius: 0.7vh;
	border: 0.7vh double rgba(218, 255, 248, 0.93);
	background: linear-gradient(
		45deg,
		rgb(238, 247, 251),
		rgb(202, 244, 247)80%,
		rgb(133, 158, 165)
	);
	margin: 1vh;
	padding: 1vh;
	font-size: 2vh;
	cursor: pointer;
}
.text:hover{
	transform: scale(1.01) rotate(.5deg) translateY(-1vh) ;
}

@media (max-width: 777px) {
	.container {
		flex-direction: column-reverse;
		align-items: center;
	}
}
